$first-color: #305F72;
$second-color: #568EA6;
$third-color: #5DD4C2;
$fourth-color: #C9FFFF;

$success-color: #98CCA9;
$background-color: rgba(86, 142, 166, 0.75);

$header-font-color: #F1FFFF;
$font-color: #0F202F;