.name{
    background-color:#CC66FF;
    height: 80px;
    width: 821px;
    margin-left : 425px;
    margin-top: 125px;
}

.id{
    background-color:#EA99D5;
    height: 64px;
    width: 734px;
    margin-left:517px;
    margin-top:229px;
}

.email{
    background-color:#EA99D5;
    height: 64px;
    width: 734px;
}

