<<<<<<< HEAD
.name{
    background-color:#CC66FF;
    height: 80px;
    width: 821px;
    margin-left : 425px;
    margin-top: 125px;
}

.id{
    background-color:#EA99D5;
    height: 64px;
    width: 734px;
    margin-left:517px;
    margin-top:229px;
}

.email{
    background-color:#EA99D5;
    height: 64px;
    width: 734px;
}

=======
.cv{
    // margin-left: auto;
    // margin-right: auto;
    // position: center;
    padding-left: 30px;
}
.component{
    margin: auto;
}
.mid{
    margin: auto;
    background-color: #F1F1F1;
    border-radius: 15px;
    width: 70%;
}
.tag{
    padding-top: 20px;
    padding-left: 30px;
}
.pic{
    // margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}
.com{
    margin: auto;
    width: 70%;
    background-color: #F1F1F1;
    padding: 30px;
    border-radius: 15px;
}
.tt{
    padding-left: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.br{
    border: 0.1px solid #040404;
    height: 0px;
    width: 80%;
    position: absolute;
}
.mm{
    border-radius: 15px;
    background-color: #F1F1F1;
}
.but{
    margin: right;

}
.padd{
    padding-left: 10px;
}
.midment{
    margin: auto;
    background-color: #F1F1F1;
    border-radius: 15px;
    width: 70%;
    margin-bottom: 2%;
    
}
.space{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}
.txt{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.cname{
    padding-left: 30px;
    background-color: #F1F1F1;
}
.cc{
    padding-right: 10px;
}
.bot{
    margin-bottom: 20px;
    background-color: #F1F1F1;
    border-radius: 15px;
}
.com1{
    margin: auto;
    width: 70%;
    // padding: 30px;
    border-radius: 15px;
}
.cap{
    background-color: #F1F1F1;
    border: none;
    padding-left: 20px;
}
>>>>>>> 65028d94d5ed7f8e271b860378d6ebfe5600f48e
